[submodule "Rust/ripgrep"]
	path = Rust/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "Go/minio"]
	path = Go/minio
	url = https://github.com/minio/minio
[submodule "JavaScript/bun"]
	path = JavaScript/bun
	url = https://github.com/oven-sh/bun
